.footer {
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0;
    width: 100%;
    height: 8rem;
    p {
      color: #fff;
    }
  }