* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.BUTTONS {
    background-color: RED;
    border-radius: 5px;
    border: 0px solid transparent;
    position: relative;
    color: white;
    width: 100px;
    bottom: -100px;
    left: 900px;
    cursor: pointer;
  }
  

  .checkoutimage {
    position: relative;
    max-height: 8rem;
    bottom: 0;
    padding: 13px;
    width: 150px;
    margin: 10px 35px;
      }
      .heading2 {
        text-align: center;
        color: red;
        position: sticky;
        position: fixed;
        margin: 0px 20px;
        font-size: 30px;
      }
    
   .all {
    width: 100%;
    max-width: 100%;
    margin: 5rem auto;
    display: grid;
    gap: 5rem;
  }
  .checkoutpageprice {
    margin: 50px 100px;
    top: 300px;
    right: 180px;
    font-weight: bolder;
    font-size: 10px;
  }
  .checkoutpagename {
    position: relative;
    margin: 15px 10px;
    width: 200px;
    text-align: center;
    color: black;
    top: 20px;
    font-weight: 400;
  }
  .all2 {
    border: 1px solid grey;
    position: relative;
    left: 50px;
  }
@media screen and  (min-width: 100px) {
    .all {
      grid-template-columns: repeat(3,0fr);
    }
  }
  